{% extends "layout.html" %}

{% block content %}
<!-- Header Start -->

<style>
    table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }

        .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}
</style>
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Find A <span class="text-primary">Perfect Home</span> To Live With Your Family</h1>
                    <p class="animated fadeIn mb-4 pb-2">You dont need to stress yourself with house hunting!!!</p>
                    <a href="properties" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel">
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="img/carousel-1.jpg" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="img/carousel-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        
    <section class="justify-content-center" style="display: grid; grid-template-columns: 1fr;">
            <div style="text-align: center; background-color: rgb(32, 171, 206); padding: 10px; margin: 10px; border-radius: 20px;">

                <h1>Looking for property in a specific location?</h1>
    <form method="post">
        
        <input type="text" id="location" placeholder="location" name="location">
        
        <input type="text" id="type" placeholder="type" name="type">
        <button class="button"><input type="submit" value="Search"></button>
    </form>

    {% if listings %}
        <table class="table">
            <tr>
                <th>Location</th>
                <th>Type</th>
                <th>Availability</th>
                <th>Amount</th>
                <th>Contact</th>
            </tr>
            {% for listing in listings %}
                <tr>
                    <td>{{ listing[1] }}</td>
                    <td>{{ listing[2] }}</td>
                    <td>{{ listing[3] }}</td>
                    <td>{{ listing[4] }}</td>
                    <td>{{ listing[5] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <a href="properties"><button class="button">Contact sellers</button></a>
            </div>
            
    </section>

    
        <!-- Category Start -->
        
        <!-- Category End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="static/images/img2.jpg">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
                        <p class="mb-4">If you are looking to buy or rent property in kenya, 2Rent house hunting is the best place for you</p>
                        <p><i class="fa fa-check text-primary me-3"></i>All security</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Trusted platform</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Client satisfactory</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="properties">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        
        <!-- Call to Action Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded p-3">
                    <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded w-100" src="img/call-to-action.jpg" alt="">
                            </div>
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="mb-4">
                                    <h1 class="mb-3">Contact With Our Certified Agent</h1>
                                    <p>Reach out to our agent who will get back to you in less than 10 minutes.</p>
                                </div>
                                <a href="listings" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Make A Call</a>
                                <a href="listings" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Get Appoinment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->


       

        {% endblock %}